body {
  margin: 0;
  background-color: #4a4a4a;
}

/* background video style */
#mainSlider {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.slideVideo {
  position: absolute;
  width: 100vw;
  height:100vh;
  text-align: center;
  overflow: hidden;
}

.myVideo-miniVersion {
  position: absolute;
  width: 800px;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
}

.myVideo-fullScreen {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}



.noneDisplay {
  display: none;
}

/* navigation menu style */
#navigation {
  list-style-type: none;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 45%;
  transform: translateY(-50%);
  width: 300px;
  color: #fff;
  right: 0;
  font-size: 20px;
  overflow: hidden;
  z-index: 9999;
}

#navigation li {
  margin: 35px 0;
}
#navigation li:hover {
  cursor: pointer;
}

.activeNavigationLi {
  color: #FF9800;
}

.linkText {
  padding-left: 10px;
  position: absolute;
}










